@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf) format("truetype"),
    url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.75rem;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
}
