@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf) format("truetype"),
    url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.introduction {
  max-width: 61.875rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.introduction__title {
  max-width: 48.75rem;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 3.625rem;
}

.introduction__phrase {
  max-width: 45rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

.introduction__person {
  max-width: 45rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.125rem;
  text-align: right;
}

.introduction__paragraph {
  max-width: 45rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .introduction__title {
    max-width: 40.75rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 2.8125rem;
    line-height: 3.0625rem;
  }
  .introduction__phrase {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}

@media screen and (max-width: 320px) {
  .introduction__title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.1875rem;
  }
  .introduction__phrase {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 1.875rem;
  }
}
