.page {
  margin: auto;
  font-family: "Inter", "Arial", sans-serif, "Arial", sans-serif, "Noto Serif",
    "Times New Roman", serif, "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #2a2c2f;
  color: white;
}
